$bg: #000;
$color: #fff;
$borderColor: #222;
$buttonBg: rgba(255, 255, 255, 0.2);
$buttonActiveBg: rgba(255, 255, 255, 0.3);
$titleBg: rgba(255, 255, 255, 0.15);
$titleActiveBg: #555;
$contentBg: rgba(255, 255, 255, 0.15);
$floatButtonBg: rgba(0, 0, 0, 0.8);