$bg: #ccc;
$color: #000;
$borderColor: #F4F4F4;
$buttonBg: rgba(255, 255, 255, 0.8);
$buttonActiveBg: rgba(255, 255, 255, 0.5);
$titleBg: #fff;
$titleActiveBg: #f0f0f0;
$contentBg: rgba(255, 255, 255, 0.8);
$floatButtonBg: rgba(204, 204, 204, 0.8);