<?php
class Config {
	public static $mysqlHost = "localhost";
	public static $mysqlDB = "db";
	public static $mysqlUsername = "root";
	public static $mysqlPassword = "";
	
	public static $websites = array(
		array('name'=>"Iltalehti", 'url'=>"http://iltalehti.fi", 'listPath'=>"", 'logo'=>"iltalehti.png"),
		array('name'=>"Iltasanomat", 'url'=>"http://iltasanomat.fi", 'listPath'=>"", 'logo'=>"iltasanomat.png"),
		array('name'=>"Kaleva", 'url'=>"http://www.kaleva.fi", 'listPath'=>"/uutiset", 'logo'=>"kaleva.png"),
		array('name'=>"Helsingin Sanomat", 'url'=>"http://www.hs.fi", 'listPath'=>"/uutiset", 'logo'=>"hs.png"),
		array('name'=>"It-viikko", 'url'=>"http://www.itviikko.fi", 'listPath'=>"/uutislista", 'logo'=>"itviikko.png"),
		array('name'=>"MTV3", 'url'=>"http://mtv3.fi", 'listPath'=>"/rss/uutiset.rss", 'logo'=>"mtv3.png", 'rss'=>true)
	);
	
	// Frequencies in minutes
	public static $listRefreshFreq = 3;
	public static $articleRefreshFreq = 60;
	
	public static $allowUserSettings = false;
	public static $userSettingsCookie = "settings";
	
	public static $defaultUserSettings = array(
		"bgColor"=>0
	);
	
	public static $bgColors = array(
		array('name'=>"Harmaa", 'hex'=>"ccc"),
		array('name'=>"Vaaleanpunainen", 'hex'=>"fab"),
		array('name'=>"Musta", 'hex'=>"000"),
		array('name'=>"Keltainen", 'hex'=>"dd3"),
		array('name'=>"Sininen", 'hex'=>"9cd"),
		array('name'=>"Vihreä", 'hex'=>"5f8")
	);
}
?>
