body {
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	font-size: 1.2em;
	margin: 10px;
}

a {
	color: #000;
	text-decoration: none;
}

a.button, a.buttonRight {
	padding: 5px;
	background: #f0f0f0;
	border: 1px solid #aaa;
	border-radius: 5px;
	display: inline-block;
}

a.buttonActive {
	background: #ddd;
}

a.buttonRight {
	float: right;
}

a.indexLink, a.titleLink {
	margin: 5px auto;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	min-width: 200px;
	display: block;
}

a.indexLink {
	padding: 7px;
	text-align: center;
	opacity: 0.8;
}

a.indexLinkActive {
	opacity: 1.0;
}

a.indexLink img {
	min-width: 25%;
}

a.titleLink {
	padding: 10px 5px;
	text-align: left;
}

a.titleLinkActive {
	opacity: 0.70;
}

.contentBox {
	padding: 10px;
	margin: 5px auto;
	background: #fff;
	border: 1px solid #aaa;
	border-radius: 5px;
	text-align: left;
}

p.contentTitle {
	margin-top: 0.5em;
	font-size: 1.4em;
}

p.contentSubtitle {
	font-size: 1.2em;
}

p.contentText {
	font-size: 1.0em;
	font-weight: normal;
}

.success, .error {
	padding: 5px;
	margin: 5px auto;
	background: #f99;
	border: 1px solid #f00;
	border-radius: 5px;
	display: table;
}

.success {
	background: #5f8;
	border: 1px solid #2f2;
}

.error {
	background: #f99;
	border: 1px solid #f00;
}