body {
	background: #000;
}

a.button {
	background: #f0f0f0;
	border-color: #aaa;
}

a.button:active, a.button:focus {
	background: #ddd;
}

a.indexLink, a.titleLink {
	background: #fff;
	border-color: #aaa;
}

a.indexLink:active, a.indexLink:focus {
	opacity: 1.0;
}

a.titleLink:active, a.titleLink:focus {
	opacity: 0.70;
}

.contentBox {
	background: #fff;
	border-color: #aaa;
}