* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, Verdana;
	font-weight: bold;
	font-size: 1.2em;
	margin: 10px 1% 20px;
}

body > *, body > form > *, body > form > label > * {
	border-radius: 5px;
	margin: 0px 0px 10px;
}

body > form {
	margin-bottom: 0px;
}

a {
	text-decoration: none;
}

#top-buttons {
}

.button-group-float {
	position: fixed;
	left: 0px;
	bottom: 0px;
	margin-bottom: 0px;
	padding: 10px;
	width: 100%;
	border-radius: 0px;
}

.button-group-float > * {
	opacity: 1.0;
}

a.button {
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 5px;
	display: inline-block;
	font-size: 1.1em;
	width: 49%;
	text-align: center;
	vertical-align: middle;
}

a.button p {
	text-align: left;
	margin: 0px;
	display: inline-block;
	max-width: 80%;
	text-align: center;
	vertical-align: middle;
}

a.buttonRight {
	float: right;
}

a.button .fa {
	margin-right: 5px;
}

a.buttonRight .fa {
	margin-right: 0px;
	margin-left: 5px;
}

.indexDescription {
	margin: 13px 0px 3px;
}

.indexDescription:first-child {
	margin-top: 15px;
}

.indexDescription span {
	margin-left: 5%;
	padding: 5px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-size: 0.8em;
	white-space: nowrap;
}

a.indexLink, a.titleLink {
	border: 1px solid;
	min-width: 200px;
	display: block;
}

a.indexLink {
	padding: 7px;
	opacity: 0.8;
}

a.indexLink .spriteContainer {
	margin: 0px auto;
	position: relative;
	min-width: 200px;
	width: 50%;
	max-width: 400px;
	overflow: hidden;
}

a.indexLink img {
	border: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

a.titleLink {
	padding: 10px 5px;
	text-align: left;
}

a.loadTitles {
	width: 100%;
}

.ajaxArticle {
	display: none;
	width: 48%;
	margin: 0px;
	position: fixed;
	top: 30px;
	right: 1%;
	overflow: auto;
}

.ajaxArticle > .contentBox {
	border-radius: 5px;
}

span.titleInfo {
	font-size: 0.8em;
	font-weight: normal;
	display: block;
	clear: both;
}

.contentBox {
	padding: 10px;
	border: 1px solid;
	text-align: left;
	word-wrap: break-word;
	clear: both;
}

p.contentDate {
	margin: 0px;
	font-size: 0.8em;
	font-weight: normal;
}

p.contentTitle {
	margin: 10px 0px 17px;
	font-size: 1.4em;
}

p.contentSubTitle {
	font-size: 1.2em;
	margin: 12px 0px;
}

p.contentText {
	font-size: 1.0em;
	font-weight: normal;
}

.langSwitch {
	float: right;
	margin: -7px 0px 0px 0px;
}

.langSwitch a:not(:first-child) {
	margin-left: 20px;
}

.langSwitch a img {
	height: 30px;
	border-radius: 5px;
	opacity: 0.8;
}

.langSwitch a:active img, .langSwitch a:hover img {
	opacity: 1.0;
}

.langSwitch a:first-child img {
	margin-left: 0px;
}

.themeSwitch {
	padding: 10px 0px;
	text-align: center;
}

.themeSwitch a {
	display: inline-block;
	width: 32px;
	height: 32px;
	border: inherit;
	margin: 0px 7px;
	border-radius: 5px;
}

.themeSwitch a:first-child {
	margin-left: 0px;
}

.themeSwitch a:last-child {
	margin-right: 0px;
}

.themeSwitch a:active, .themeSwitch a:focus {
	box-shadow: 0px 0px 5px 2px #fff;
	border: 0px;
	padding: 1px;
}

.success, .error {
	padding: 5px;
	border: 1px solid;
}

.success {
	background: #5f8;
	border-color: #2f2;
	color: #000;
}

.error {
	background: #f99;
	border-color: #f00;
	color: #000;
}

.stats {
	margin-bottom: 15px;
	padding: 5px 0px 5px 10px;
	display: block;
	white-space: nowrap;
	background: #d3d3d3;
	color: #000;
}

input {
	width: 100%;
	border-radius: 7px;
	padding: 4px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input.checkbox {
	width: auto;
}

textarea {
	font-family: Arial, Helvetica, Verdana;
	width: 100%;
	height: 100px;
	padding: 4px 10px;
	border-radius: 7px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	resize: vertical;
}

select {
	border-radius: 7px;
	padding: 3px 5px;
}

select:focus {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

#feedbackType {
	width: 100%;
}

/* All below should be overwritten by theme files */

body {
	background: #ccc;
	color: #000;
}

a {
	color: inherit;
}

.button-group-float {
	background: rgba(0, 0, 0, 0.8);
}

a.button {
	background: rgba(255, 255, 255, 0.8);
	border-color: #aaa;
}

a.button:active, a.button:focus {
	background: rgba(255, 255, 255, 0.5);
}

.indexDescription span {
	background: #aaa;
	color: #fff;
}

a.indexLink, a.titleLink {
	background: #fff;
	border-color: #aaa;
}

a.indexLink:active, a.indexLink:focus {
	opacity: 1.0;
}

a.titleLink:active, a.titleLink:focus {
	opacity: 0.70;
}

.contentBox {
	background: rgba(255, 255, 255, 0.8);
	border-color: #aaa;
}
