body {
	background: #000;
	color: #fff;
}

a.button {
	background: rgba(255, 255, 255, 0.2);
	border-color: #222;
}

a.button:active, a.button:focus {
	background: rgba(255, 255, 255, 0.3);
}

.indexDescription span {
	background: rgba(255, 255, 255, 0.2);
}

a.indexLink {
	border-color: #aaa;
}

a.titleLink {
	background: rgba(255, 255, 255, 0.15);
	border-color: #111;
	color: #fff;
}

a.indexLink:active, a.indexLink:focus {
	background: rgba(255, 255, 255, 1.0);
}

a.indexLink .spriteContainer {
	background: #000;
}

a.titleLink:active, a.titleLink:focus {
	background: #555;
}

.contentBox {
	background: rgba(255, 255, 255, 0.15);
	border-color: #111;
}

.float-buttons.list-view {
	background: rgba(0, 0, 0, 0.8);
}
