body {
	background: #000;
}

a.button {
	background: #333;
	border-color: #222;
	color: #fff;
}

a.button:active, a.button:focus {
	background: #555;
}

.indexDescription span {
	background: #222;
	color: #fff;
}

a.indexLink {
	background: #fff;
	border-color: #aaa;
}

a.titleLink {
	background: #222;
	border-color: #111;
	color: #fff;
}

a.indexLink:active, a.indexLink:focus {
	opacity: 1.0;
}

a.titleLink:active, a.titleLink:focus {
	background: #555;
}

.contentBox {
	background: #222;
	border-color: #111;
	color: #fff;
}

.stats {
	color: #000;
}
