body {
	background: #135;
}

a.button {
	background: #468;
	border-color: #135;
	color: #fff;
}

a.button:active, a.button:focus {
	background: #68a;
}

.indexDescription span {
	background: #357;
	color: #fff;
}

a.indexLink {
	background: #fff;
	border-color: #135;
}

a.indexLink .spriteContainer {
	background: #fff;
}

a.titleLink {
	background: #357;
	border-color: #135;
	color: #fff;
}

a.indexLink:active, a.indexLink:focus {
	background: rgba(255, 255, 255, 1.0);
}

a.titleLink:active, a.titleLink:focus {
	background: #579;
}

.contentBox {
	background: #357;
	border-color: #135;
	color: #fff;
}

.stats {
	color: #024;
}
