body {
	background: #ae8;
	color: #030;
}

.button {
	background: #f0faf0;
	border-color: #0a0;
}

.button:active, .button:focus {
	background: #ddd;
}

.indexDescription span {
	background: #fff;
	color: #050;
}

a.indexLink, a.titleLink {
	background: #fff;
	border-color: #0a0;
}

a.indexLink:active, a.indexLink:focus {
	background: rgba(255, 255, 255, 1.0);
}

a.indexLink .spriteContainer {
	background: #fff;
}

a.titleLink:active, a.titleLink:focus {
	opacity: 0.70;
}

.contentBox {
	background: #fff;
	border-color: #0a0;
}

.float-buttons.list-view {
	background: rgba(170, 238, 136, 0.9);
}
