body {
	background: #fbc;
}

.button {
	background: #f0f0f0;
	border-color: #aaa;
}

.button:active, .button:focus {
	background: #ddd;
}

.indexDescription span {
	background: #fff;
	color: #999;
}

a.indexLink, a.titleLink {
	background: #fff;
	border-color: #aaa;
}

a.indexLink:active, a.indexLink:focus {
	background: rgba(255, 255, 255, 1.0);
}

a.indexLink .spriteContainer {
	background: #fff;
}

a.titleLink:active, a.titleLink:focus {
	opacity: 0.70;
}

.contentBox {
	background: #fff;
	border-color: #aaa;
}
